/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */
body {
    font-family: sans-serif;
    background-color: black;
}
.buttons {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    z-index: 1;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    /* gap:10px; */
}
.col {
    padding: 5px;
    flex-basis: calc(100% / 5);
}
.card {
    position: relative;
    width: 100%;
}
.card-img {
    width: 100%;
    display: block;
}
.card-text {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    position: absolute;
    bottom: 5px;
    left: 0;
}



/* Main */
header {
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 50px;
    z-index: 1;
    
}
.view {
    padding: 10px;
    background-color: #4A4A4A;
    border-radius: 5px 5px;
}
main {
    padding-top: 150px;
}
footer {
    background-color: #222222;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-btns {
    color: white;
    display: flex;
    gap: 20px;
    text-align: center;
}
.end-meeting {
    color: red;
    background-color: #4A4A4A;
    padding: 10px 5px;
    border-radius: 5px;
}
.btn {
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.fa-share-from-square{
    color: green;
}
.fa-angle-up {
    align-self: center;
}